@mixin background-image-svg($name) {
  background-image: url('../images/#{$name}.png');
  background-image: url('../images/#{$name}.svg');
}

@mixin transition() {
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
  -ms-transition: all $duration;
  -o-transition: all $duration;
  transition: all $duration;
}

@mixin rotate($deg: 90){
  $sDeg: #{$deg}deg;
  -webkit-transform: rotate($sDeg);
  -moz-transform: rotate($sDeg);
  -ms-transform: rotate($sDeg);
  -o-transform: rotate($sDeg);
  transform: rotate($sDeg);
  transition-property: transform;
  @include transition(); // Add this also to target div
}

@function get-vw($target) {
  $vw-context: (1440 * 0.014) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@mixin responsive-vw($property, $min, $max) {
  $max: get-vw($max);

  $max-unitless: $max / ($max - $max + 1);
  $dimension: if(unit($max) == 'vh', 'height', 'width');

  $min-breakpoint: $min / $max-unitless * 100;
  $max-breakpoint: $max / $max-unitless * 100;

  #{$property}: $min;
  #{$property}: $max;

  @media (min-#{$dimension}: #{$max-breakpoint}) {
    #{$property}: $max;
  }

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    #{$property}: $min;
  }
}
