/* --- Fonts --- */
$max-font-size-h1: 80px;
$min-font-size-h1: 60px;

$max-font-size-h2: 60px;
$min-font-size-h2: 40px;

$max-font-size-h3: 40px;
$min-font-size-h3: 32px;

$max-font-size-h4: 32px;
$min-font-size-h4: 24px;

$max-font-size-h5: 24px;
$min-font-size-h5: 20px;

$max-font-size-h6: 20px;
$min-font-size-h6: 16px;

$max-font-size-p: 24px;
$min-font-size-p: 16px;

$max-font-size-large: 40px;
$min-font-size-large: 24px;

$max-font-size-small: 16px;
$min-font-size-small: 12px;

$max-font-size-nav: 24px;
$min-font-size-nav: 18px;

$font-weight-h1: 900;
$font-weight-h2: 900;
$font-weight-h3: 900;
$font-weight-h4: 900;
$font-weight-h5: 900;
$font-weight-h6: 900;

$font-family-default: 'PT Sans', sans-serif;
$font-family-heading: 'Futura Std Web', sans-serif;

/* --- Colors --- */
/* Generic */
$color-black: #000000;
$color-dark-gray: #3A3A3A;
$color-white: #FFFFFF;
$color-blue: #35A0CD;
$color-red: #E81746;
$color-green: #00FF28;

$color-text-default: $color-white;

/* Specific */
$color-text-link: $color-blue;
$color-body-background: $color-white;

/* --- Line Height --- */
$line-height-default: 1.16;
$line-height-heading: 0.8;

/* --- Grid --- */
$max-width: 1440px;

$xs: new-breakpoint(max-width 640px);
$sm: new-breakpoint(max-width 768px);
$md: new-breakpoint(max-width 996px);
$lg: new-breakpoint(max-width $max-width);

/* --- Animations --- */
$duration: .5s;
