@font-face {
  font-family: 'Norwester';
  src: url('../fonts/Norwester-Regular.eot');
  src: url('../fonts/Norwester-Regular.woff2') format('woff2'),
       url('../fonts/Norwester-Regular.woff') format('woff'),
       url('../fonts/Norwester-Regular.ttf') format('truetype'),
       url('../fonts/Norwester-Regular.svg#Norwester-Regular') format('svg'),
       url('../fonts/Norwester-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

.page {
  font-family: 'Montserrat', sans-serif;
  color: #294753;
  font-weight: 100;
  letter-spacing: 1px;
}

.header__navicon {
  position: relative;
}

.navicon {
  position: absolute;
  display: none;
  float: left;
  margin: -40px 0 0 20px;
  padding: 23.5px 0; }
  .navicon__bars {
    position: relative;
    width: 2rem;
    height: 0.2rem;
    background-color: #294753; }
    .navicon__bars:before, .navicon__bars:after {
      display: block;
      content: "";
      height: 0.2rem;
      width: 2rem;
      background-color: #294753;
      position: absolute; }
    .navicon__bars:before {
      top: .625rem; }
    .navicon__bars:after {
      top: -.625rem;
      height: 0.2rem; }

.open:not(.steps) .navicon__bars:before,
.open:not(.steps) .navicon__bars:after {
  top: 0 !important; }

.open .navicon__bars:before,
.open .navicon__bars:after {
  background-color: #000000; }

.open.x {
  z-index: 3; }
  .open.x:hover .navicon__bars:before, .open.x:hover .navicon__bars:after {
    background-color: #000000; }
  .open.x .navicon__bars {
    background-color: transparent; }
    .open.x .navicon__bars:before {
      transform: rotate(-45deg); }
    .open.x .navicon__bars:after {
      transform: rotate(45deg); }

.grid__container {
/*  max-width: 1200px;*/
  margin-left: auto;
  margin-right: auto; }
  .grid__container::after {
    clear: both;
    content: "";
    display: table; }
.grid__row {
  display: block; }
  .grid__row::after {
    clear: both;
    content: "";
    display: table; }
.grid__col--1 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 8.33333%; }
  .grid__col--1:last-child {
    margin-right: 0; }
.grid__col--2 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%; }
  .grid__col--2:last-child {
    margin-right: 0; }
.grid__col--3 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%; }
  .grid__col--3:last-child {
    margin-right: 0; }
.grid__col--4 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%; }
  .grid__col--4:last-child {
    margin-right: 0; }
.grid__col--5 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.66667%; }
  .grid__col--5:last-child {
    margin-right: 0; }
.grid__col--6 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%; }
  .grid__col--6:last-child {
    margin-right: 0; }
.grid__col--7 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 58.33333%; }
  .grid__col--7:last-child {
    margin-right: 0; }
.grid__col--8 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.66667%; }
  .grid__col--8:last-child {
    margin-right: 0; }
.grid__col--9 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 75%; }
  .grid__col--9:last-child {
    margin-right: 0; }
.grid__col--10 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.33333%; }
  .grid__col--10:last-child {
    margin-right: 0; }
.grid__col--11 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 91.66667%; }
  .grid__col--11:last-child {
    margin-right: 0; }
.grid__col--12 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%; }
  .grid__col--12:last-child {
    margin-right: 0; }
.grid__shift--1 {
  margin-left: 8.33333%; }
.grid__shift--2 {
  margin-left: 16.66667%; }
.grid__shift--3 {
  margin-left: 25%; }
.grid__shift--4 {
  margin-left: 33.33333%; }
.grid__shift--5 {
  margin-left: 41.66667%; }
.grid__shift--6 {
  margin-left: 50%; }
.grid__shift--7 {
  margin-left: 58.33333%; }
.grid__shift--8 {
  margin-left: 66.66667%; }
.grid__shift--9 {
  margin-left: 75%; }
.grid__shift--10 {
  margin-left: 83.33333%; }
.grid__shift--11 {
  margin-left: 91.66667%; }
.grid__centered {
  float: none!important;
  margin: 0 auto!important; }
.float--right {
  float: right; }
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

h1 {
  font-family: 'Norwester';
  text-transform: uppercase;
  font-size: 5em;
  letter-spacing: 3px;
}

h2 {
  font-family: 'Norwester';
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 3px;
}

h3 {
  font-family: 'Norwester';
  text-transform: uppercase;
  font-size: 1.3em;
  position: relative;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

h3:after {
  content: '';
  position: absolute;
  width: 30px;
  left: 0%;
  bottom: -15px;
  border-bottom: 1px solid #e30613;
}

p {
  font-size: 0.9em;
  padding-top: 15px;
  line-height: 165%;
}

a {
  color: #e30613;
  text-decoration: none;
}

.rood {
  color: #e30613;
}

.lees-meer a {
  font-family: 'Norwester';
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 5px 20px;
  background-color: transparent;
  border: 1px solid #e30613;
  color: #e30613;
  letter-spacing: 1px;
}

.lees-meer a:hover {
  border: 1px solid #294753;
  color: #294753;
}

strong {
  font-weight: 400;
}

.nav-selected a,
.nav-path-selected a,
.nav li:hover a {
  color: #e30613!important;
}

.header__logo {
  margin-top: 20px;
}

.header__logo a {
  width: 25%;
  height: auto;
  margin: auto;
  display: block;
}

.header__logo img {
  width: 100%;
  height: auto;
  margin: auto;
}

.header__nav {
  margin-top: 50px;
  width: 50%;
  margin: 50px auto 0;
}

.header__nav .nav li {
  display: inline-block;
}

.header__nav .nav {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.header__nav .nav li {
  font-family: 'Norwester';
  text-transform: uppercase;
  font-size: 1.2em;
  color: #294753;
}

.header__nav .nav li a {
  color: #294753;
}

.header__social {
  position: relative;
}

.header__social div {
  float: left;
  position: absolute;
  margin-top: 40px;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin-square {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: top;
}

.fa-facebook:before,
.fa-instagram:before,
.fa-linkedin-square:before {
    content: none;
}

.fa-facebook {
  background-image: url(../images/facebook.png);
}

.fa-instagram {
  background-image: url(../images/instagram.png);
}

.fa-linkedin-square {
  background-image: url(../images/linkedin.png);
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-linkedin-square:hover {
  background-position: bottom;
}

.hero {
  margin: 40px 0;
}

.hero ul li img {
  height: 600px;
}

.hero .ccm-image-slider-text {
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero .ccm-image-slider-title {
  color: #ffffff;
  font-size: 5.7vw;
}

.object-fit_cover {
  object-fit: cover;
  font-family: 'object-fit: cover; object-position: center;'
}

img {
  object-fit: cover;
  font-family: 'object-fit: cover; object-position: center;'
}

.section__introduction {
  margin: 150px 20px;
}

.section__introduction h1 {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.section__introduction h1:after {
  content: '';
  position: absolute;
  width: 15%;
  left: 40%;
  bottom: -20px;
  border-bottom: 1px solid #e30613;
}

.section__introduction p {
  column-count: 2;
  column-gap: 50px;
  padding: 30px 0;
}

.section__introduction .lees-meer {
  column-count: 1;
}

.section__content .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__event--slider .rslides img {
  height: 500px;
}

.section__event--txt p:first-of-type,
.section__friends--txt p:first-of-type {
  font-size: 1em; 
  color: #e30613;
  font-weight: 400;
}

.section__producties--txt p {
  column-count: 2;
  column-gap: 50px;
}

.section__producties--img img,
.section__friends--img img,
.section__about--img img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.section__updates--slider .rslides img {
  height: 700px;
}

.event--slider--text {
  position: relative;
}

.event--slider--text div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.event--slider--text p {
  column-count: 2;
  column-gap: 50px;
}


/* Footer */

footer {
  background-color: #294753;
  color: #ffffff;
  padding: 100px 20px;
}

.footer__form div.ccm-block-type-form div.form-group {
  width: 49%;
}

.footer__form .field-textarea {
  width: 100%!important;
}

.footer__form div.ccm-block-type-form div.form-group:nth-of-type(even) {
  float: right;
}

.footer__form div.ccm-block-type-form div.form-group:nth-of-type(odd) {
  float: left;
}

.footer__form div.ccm-block-type-form div.form-group label.control-label {
  font-weight: 100;
  font-size: 0.8em;
  padding-left: 10px;
/*  transform: translateY(20px);*/
  transition: all 0.3s;
  cursor: text;
}

.footer__form input[type="text"], 
.footer__form input[type="email"], 
.footer__form input[type="tel"], 
.footer__form input[type="search"], 
.footer__form input[type="url"], 
.footer__form input[type="password"], 
.footer__form .ui-autocomplete-input, 
.footer__form textarea, 
.footer__form .uneditable-input {
  color: #fff;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
  background-size: 1px 20%, 100% 1px, 1px 20%;
  background-position: bottom left, bottom center, bottom right;
  background-repeat: no-repeat;
  border: none;
}

.footer__form input[type="text"]:focus, 
.footer__form input[type="email"]:focus, 
.footer__form input[type="tel"]:focus, 
.footer__form input[type="search"]:focus, 
.footer__form input[type="url"]:focus, 
.footer__form input[type="password"]:focus, 
.footer__form .ui-autocomplete-input:focus, 
.footer__form textarea:focus, 
.footer__form .uneditable-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: linear-gradient(#e30613, #e30613), linear-gradient(#e30613, #e30613), linear-gradient(#e30613, #e30613);
  background-size: 1px 20%, 100% 1px, 1px 20%;
  background-position: bottom left, bottom center, bottom right;
  background-repeat: no-repeat;
  border: none;
}

.footer__form .btn {
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

.footer__form input[type=submit] {
  font-family: 'Norwester';
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 5px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  letter-spacing: 1px;
  float: right;
  transition: none;
  cursor: pointer;
}

.footer__form input[type=submit]:hover {
  border: 1px solid #e30613;
  color: #e30613;
}



@media screen and (max-width: 1200px) {
  
  .grid__col--sm--12 {
    width: 100%!important;
  }
  
  .grid__col--sm--9 {
    width: 75%!important;
  }
  
  .grid__col--sm--3 {
    width: 25%!important;
  }
  
  .row-eq-height {
    display: block; 
  }
  
  .navicon {
    display: block; }
  
  .header__social div {
    margin-top: -30px;
  }
  
  .header__nav {
      display: none;
      position: relative;
      width: 100%;
      float: left;
      height: auto;
      background: #ffffff; }
  
  .header__nav .nav {
    -ms-box-orient: vertical;
    display: -webkit-block;
    display: -moz-block;
    display: -ms-block;
    display: -moz-block;
    display: -webkit-block;
    display: block;

    -webkit-justify-content: none; 
    justify-content: none; 
    text-align: center;
  }
  
  .header__nav .nav li {
    padding: 10px 0;
  }
  
  .header__nav .nav li {
    display: block;
  }
  
  .hero {
    margin: 20px 0;
  }
  
  .grid__shift--1 {
    margin-left: 0!important;
  }

  .section__event--txt div,
  .section__producties--txt div,
  .section__friends--txt div,
  .section__about-txt div {
    margin: 40px 20px;
  }
  
  .event--slider--text {
    margin: 0 20px;
  }
  
  .event--slider--text div {
    top: 0%;
    transform: none;
    margin: 20px;
  }
  
  .event--slider--text p {
    column-count: 1;
  }
  
  .footer__txt {
    margin-bottom: 40px;
  }
  
}


@media screen and (max-width: 1000px) {
  
  .header__logo a {
    width: 50%;
  }
  
}


@media screen and (max-width: 810px) {
  
  .header__social {
    width: 25%;
  }
  
}

