.rotate {
  @include rotate(180);
}

.float {
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

.text {
  &--center {
    text-align: center;
  }
}

.background {
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__white {
    background-color: $color-white;
    &--transparent {
      background-color: rgba($color-white, 0.5);
    }
  }
  &__black {
    background-color: $color-black;
    &--transparent {
      background-color: rgba($color-black, 0.5);
    }
  }
  &__dark-gray {
    background-color: $color-dark-gray;
    &--transparent {
      background-color: rgba($color-dark-gray, 0.5);
    }
  }
  &__blue {
    background-color: $color-blue;
    &--transparent {
      background-color: rgba($color-blue, 0.5);
    }
  }
}

.color {
  &--white {
    color: $color-white;
  }
  &--black {
    color: $color-black;
  }
}

.table {
  display: table !important;
  &--center {
    display: table-cell !important;
    vertical-align: middle;
  }
}

.fullscreen {
  width: 100%;
  height: 100vh;
}

.center {
  &--top {
    position: relative;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%) translateX(0%);
    -moz-transform: translateY(-50%) translateX(0%);
    -ms-transform: translateY(-50%) translateX(0%);
    -o-transform: translateY(-50%) translateX(0%);
    transform: translateY(-50%) translateX(0%);
  }
  &--left {
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
  }
  &--middle {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
}

.absolute {
  position: absolute;
}
