@font-face {
  font-family: 'Norwester';
  src: url('Norwester-Regular.eot');
  src: url('Norwester-Regular.woff2') format('woff2'),
       url('Norwester-Regular.woff') format('woff'),
       url('Norwester-Regular.ttf') format('truetype'),
       url('Norwester-Regular.svg#Norwester-Regular') format('svg'),
       url('Norwester-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

.navicon {
  position: relative;
  display: none;
  float: right;
  padding: 23.5px 0;
  margin-right: 15px; }
  .navicon__bars {
    position: relative;
    width: 2rem;
    height: 0.2rem;
    background-color: #000000; }
    .navicon__bars:before, .navicon__bars:after {
      display: block;
      content: "";
      height: 0.2rem;
      width: 2rem;
      background-color: #000000;
      position: absolute; }
    .navicon__bars:before {
      top: .625rem; }
    .navicon__bars:after {
      top: -.625rem;
      height: 0.2rem; }

.open:not(.steps) .navicon__bars:before,
.open:not(.steps) .navicon__bars:after {
  top: 0 !important; }

.open .navicon__bars:before,
.open .navicon__bars:after {
  background-color: #000000; }

.open.x {
  z-index: 3; }
  .open.x:hover .navicon__bars:before, .open.x:hover .navicon__bars:after {
    background-color: #000000; }
  .open.x .navicon__bars {
    background-color: transparent; }
    .open.x .navicon__bars:before {
      transform: rotate(-45deg); }
    .open.x .navicon__bars:after {
      transform: rotate(45deg); }

.grid__container {
/*  max-width: 1200px;*/
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .grid__container::after {
    clear: both;
    content: "";
    display: table; }
.grid__row {
  display: block; }
  .grid__row::after {
    clear: both;
    content: "";
    display: table; }
.grid__col--1 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 8.33333%; }
  .grid__col--1:last-child {
    margin-right: 0; }
.grid__col--2 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%; }
  .grid__col--2:last-child {
    margin-right: 0; }
.grid__col--3 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%; }
  .grid__col--3:last-child {
    margin-right: 0; }
.grid__col--4 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%; }
  .grid__col--4:last-child {
    margin-right: 0; }
.grid__col--5 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.66667%; }
  .grid__col--5:last-child {
    margin-right: 0; }
.grid__col--6 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%; }
  .grid__col--6:last-child {
    margin-right: 0; }
.grid__col--7 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 58.33333%; }
  .grid__col--7:last-child {
    margin-right: 0; }
.grid__col--8 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.66667%; }
  .grid__col--8:last-child {
    margin-right: 0; }
.grid__col--9 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 75%; }
  .grid__col--9:last-child {
    margin-right: 0; }
.grid__col--10 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.33333%; }
  .grid__col--10:last-child {
    margin-right: 0; }
.grid__col--11 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 91.66667%; }
  .grid__col--11:last-child {
    margin-right: 0; }
.grid__col--12 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%; }
  .grid__col--12:last-child {
    margin-right: 0; }
.grid__shift--1 {
  margin-left: 8.33333%; }
.grid__shift--2 {
  margin-left: 16.66667%; }
.grid__shift--3 {
  margin-left: 25%; }
.grid__shift--4 {
  margin-left: 33.33333%; }
.grid__shift--5 {
  margin-left: 41.66667%; }
.grid__shift--6 {
  margin-left: 50%; }
.grid__shift--7 {
  margin-left: 58.33333%; }
.grid__shift--8 {
  margin-left: 66.66667%; }
.grid__shift--9 {
  margin-left: 75%; }
.grid__shift--10 {
  margin-left: 83.33333%; }
.grid__shift--11 {
  margin-left: 91.66667%; }
.col-centered {
    float: none;
    margin: 0 auto; }
.float--right {
  float: right; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #294753;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

h1 {
  font-family: 'Norwester';
  text-transform: uppercase;
  font-size: 4em;
  line-height: 100%;
  letter-spacing: 1.5px;
}

h2 {
  font-family: 'Norwester';
  text-transform: uppercase;
  font-size: 3.5em;
  line-height: 100%;
  letter-spacing: 1.5px;
  padding-bottom: 3px;
}

h3 {
  font-family: 'Norwester';
  font-size: 1.4em;
  letter-spacing: 1.5px;
}

p {
  font-size: 1em;
  line-height: 170%;
}

.section h3 {
  position: relative;
  margin-bottom: 10px;
}

.section h3:after {
  content: '';
  position: absolute;
  width: 40px;
  left: 0%;
  bottom: -10px;
  border-bottom: 1px solid #e30613;
}

.section p {
  padding-top: 15px;
}

a {
  color: #009cdc;
}

.btn__lees--meer {
  font-family: 'Norwester';
  text-transform: uppercase;
  color: #e30613;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #e30613;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  transition: color 0.2s;
}

.btn__lees--meer:hover {
  color: #294753;
  border-color: #294753;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__nav {
  margin-top: 40px;
}

.header__nav--items ul {
  padding: 0;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  -webkit-justify-content: space-between; 
  justify-content: space-between; 
}

.header__nav--items ul li {
  padding: 10px 0;
}

.header__nav--items ul li a {
  list-style: none;
  text-decoration: none;
  color: #294753;
  text-transform: uppercase;
  font-family: 'Norwester';
  font-size: 1.2em;
}

.header__nav--items ul li a:hover {
  color: #e30613;
}

.nav-selected {
  color: #e30613!important;
}

.social--btns {
  float: right;
  margin-top: -36px;
}

.social--btns ul {
  float: right;
}

.social--btns ul li {
  padding: 0 5px!important;
  margin-right: 0!important;
}

.fa-facebook:before,
.fa-instagram:before,
.fa-linkedin-square:before {
  content: none;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin-square {
  background-size: contain;
  width: 30px;
  height: 30px;
}

.fa-facebook {
  background-image: url(../images/Facebook-icon.png);
}

.fa-instagram {
  background-image: url(../images/Instagram-icon.png);
}

.fa-linkedin-square {
  background-image: url(../images/Linkedin-icon.png);
}

.hero--slider {
  margin-top: 40px;
}

.hero--slider .rslides > li {
  max-height: 650px;
  min-height: 650px;
}

.hero--slider .object-fit_cover { 
  object-fit: cover; 
}

.hero--slider .rslides img {
  height: 600px;
}

.hero--slider .ccm-image-slider-text {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hero--slider .ccm-image-slider-title {
  margin-top: auto;
  color: #ffffff;
  font-size: 5vw;
  text-align: center;
  width: 60%;
  margin: auto;
}

.introduction {
  margin: 150px 0;
}

.introduction .grid__col--7 {
  margin-right: auto!important;
}

.introduction h1 {
  width: 60%;
  text-align: center;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
}

.introduction h1:after {
  content: '';
  position: absolute;
  width: 20%;
  left: 35%;
  bottom: -20px;
  border-bottom: 1px solid #e30613;
}

.introduction p {
  margin-top: 60px;
}


/* Content body */

.section__events--img .rslides > li {
  max-height: 500px;
  min-height: 500px;
}

.section__events--img .object-fit_cover { 
  object-fit: cover; 
}

.section__events--img .rslides img {
  height: 500px;
}

