.grid {
  &__container {
    padding: 0 20px;
    @include outer-container($max-width);
  }

  &__row {
    @include row;
  }

  &__col {
    @for $i from 1 through $grid-columns {
      &--#{$i} {
        @include span-columns($i);
      }
    }
  }

  &__shift {
    @for $i from 1 through ($grid-columns - 1) {
      &--#{$i} {
        @include shift($i);
      }
    }
  }
}

@include media($sm) {
  .grid {
    &__shift {
      @for $i from 1 through ($grid-columns - 1) {
        &--#{$i} {
          margin-left: 0;
        }
      }
    }
  }
}

@mixin grid-breakpoint($breakpoint, $prefix) {
  @include media($breakpoint) {
    @for $i from 1 through $grid-columns {
      .grid__col--#{$prefix}--#{$i} {
        @include span-columns($i);
      }
    }
  }
}

@include grid-breakpoint($sm, sm);
@include grid-breakpoint($xs, xs);
